.dynamicFont{
    background:#000000 -webkit-linear-gradient(left,#2F4F4F,#696969 50%,#191970 90%,#000000) no-repeat 0 0;
    background-size:20% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.dynamicFont {-webkit-animation: dynamicFont 4s linear infinite;animation: dynamicFont 4s linear infinite;}
@-webkit-keyframes dynamicFont {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
@keyframes dynamicFont {
    0% {background-position: 0 0; }
    100% {background-position: 100% 100%; }
}